.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.backroundImg{
    background-image: url('mountains.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: underline;
}

.whiteFont{
    color: whitesmoke;
}

#description-product{
    height: 74px;

}

.main-div #inputs_div{
    position: relative;

}

.main-div #inputs_div input{

    width: 100%;
    padding: 10px 0;

    color:whitesmoke;
    margin-bottom: 30px;
    border: none;
    border-bottom:1px solid forestgreen;

    outline: none;
    background: transparent;

}
